.tableAppointments{
    /*
    display: flex;
    align-items: center;
    flex-direction: column;*/
    width: 100%;
}

.rowAppointments{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

