.dentalApp{
  align-items: center;
  align-content: center;
  background-color: rgb(255, 251, 0);
  color: rgb(63, 63, 63);
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
}
.headerContainer{
  height: 7em;
  color: white;
  background-color: rgb(12, 101, 143);;
}


.contentStyle{
  min-height: 28em;
  background-color: rgb(255, 255, 255);
}


h1{
  color: white;
}

h2{
  color: rgb(12, 101, 143);
}
